# dependencies
node_modules/
.next/
out/
dist/

# env
.env
.env.local
.env.production
.env.development

# python
__pycache__/
*.pyc
venv/
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/


.env
.env.*
backend/.env
backend/.env.*

